.cover {
  background-image: url(../../images/cover-trains.jpg);
  max-width: 1184px;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  display: flex;
  font-weight: 400;
  text-align: center;
  object-fit: cover;
}

.cover::before {
  content: '';
  width: 0;
  height: 0;
  padding-top: calc(740/1184 * 100%);
}


